<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>


<body>
	<header class="header">
		<%- include('partials/nav.ejs') %>
	</header>

	<main>
		<section class="content">
			<div class="container">
				<h1 class="content__title">Main</h1>
			</div>
		</section>
	</main>
</body>

</html>